.bod{
  background-color: darkslategray;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a{
  text-decoration: none;
}

a:hover{
  opacity: 80%;
}

.navel{
  float: left;
}

.naver{
  float: right;
}
.ip{
  margin-top: 10%;
}
.ip :last-child{
  margin-top:10px;
}

.ls{
  background-color: indigo;
  color: white;
}

ul li input[type=checkbox] ~ del{
  text-decoration: none;
}

ul li input[type=checkbox]:checked ~ del {
    text-decoration: line-through;
    color: gray;
    visibility: 50%;
    }


.but{
  float: right;
  margin-right:10px;
}

.checkbox{
  float: left;
  margin-top: 1%;
  margin-left:10px;
  width: 17px;
  height: 17px;
}


.footer{
  position: static;
  bottom: 100vh;
}
